.header {
  margin: 0 0;
  font-size: 50px;
  color: #ffe400;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(90deg, rgba(134,71,6,1) 26%, rgba(237,238,174,1) 98%);
  clip-path: polygon(0 0, 0 55%, 100% 100%, 100% 0%, 75% 0);
  padding: 20px;
}

@media (max-width: 768px) {
  .header {
    font-size: 40px;
    color: #ffe400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}